$color-bg-body: hsl(300, 24%, 96%);
$color-bg-testimonial: hsl(300, 43%, 22%);
$color-bg-rated: hsl(303, 10%, 53%);
$color-names: hsl(0, 0%, 100%);
$color-buyer: hsl(333, 80%, 67%);



$font-family: 'Spartan', sans-serif;